<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1035048558864-4d67f87vbvk0h5dmgt3rkahii004mbig.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy8_S-5_AcndEjf3mElY08R6HsuGLNGyE</string>
	<key>GCM_SENDER_ID</key>
	<string>1035048558864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xgenious.prohandy-client</string>
	<key>PROJECT_ID</key>
	<string>prohandy-xgenious</string>
	<key>STORAGE_BUCKET</key>
	<string>prohandy-xgenious.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035048558864:ios:c17b587ee808b56ce6c595</string>
</dict>
</plist>